/* place here your colors */
:root {
    --mainColor: #181915;
    --secondaryColor: #fff;
    --nudeColor: #cb997e;
    --lightColor: #D9A78B;
    --brightColor: #ffe8d6;

    --borderColor: #6c6b69;

    --mainText: #131516;
    --lightText: #fff;
    --secondaryText: #aba8a4;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


/* use your custom font and styling */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--lightText);
    font-family: 'Readex Pro', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p,
a,
li,
span,
label,
input,
textarea {
    color: var(--lightText);
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-align: left;
    line-height: 2;
}

button {
    color: var(--lightText);
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--secondaryText);
}

a:hover {
    color: var(--lightColor);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 80%;
    height: auto;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--mainColor);
    padding: 30px;

}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.dark-mode {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.light-section {
    background-color: var(--lightColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}


.main-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    min-height: 7em;
}

#hero-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        'profile-pic short-intro';
}

#profile_pic {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border: 2px solid var(--borderColor);
    grid-area: profile-pic;
}

#short-intro {
    grid-area: short-intro;
    width: 40rem;
    margin-left: 40px;

}

#middle-menu {
    grid-area: middle-menu;
    display: flex;
    align-content: center;
    gap: 30px;
    background-color: var(--mainColor);
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 0;
}

.portfolio-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    justify-content: center;
    row-gap: 10px;
    column-gap: 40px;
    padding: 20px;
}

#portfolio-item {
    width: 300px;
    padding-top: 0px;
}

#button-demo {
    margin-top: 30px;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--lightText);
    background-color: var(--buttonColor);
    border: 1px solid var(--lightText);
    margin-bottom: 30px;
}

#button-demo:hover {
    color: var(--borderColor);
    text-decoration: none;

}

#button-box {
    position: relative;
}

#portfolio-pic {
    display: block;
    border: 1px solid var(--secondaryText);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: grayscale(100%);
    object-fit: cover;
    -webkit-box-shadow: 8px 8px 24px -23px rgba(24, 25, 21, 1);
    -moz-box-shadow: 8px 8px 24px -23px rgba(24, 25, 21, 1);
    box-shadow: 8px 8px 24px -23px rgba(24, 25, 21, 1);
}

#portfolio-pic:hover {
    box-shadow: 0 0 2px 1px var(--borderColor);
}

.video-wrapper {
    overflow: hidden;
}

#video_cover {
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
}

.mywhy-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    row-gap: 10px;
    column-gap: 50px;
    padding: 10px;
    padding-bottom: 80px;
}


.left-column {
    column-width: 300px;
    font-weight: 700;
    text-transform: uppercase;
    justify-items: left;
}

.right-column {
    column-width: 900px;
    font-weight: 400;
    size: 900px;
    justify-content: left;
}

#contact-box {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
    margin-top: 50px;
}


@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

/* hide video section on small screen*/
@media only screen and (max-width: 600px) {
    .video-wrapper {
        display: none;
    }
}